body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: black;
    font-size: 2rem;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style: none;
    margin-right: 15px;
}
.contacts{
margin-left: auto;
}
a{   
    text-decoration: none;
    color: white;
}
.party{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}
.party2{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.container {
    flex: 600px;
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
}
.grow{
flex-grow: 1;
}
.footer {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 20px;
}
.btn {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: color 1s, border-color 1s, background-color 1s;
    display: inline-block;
    border-radius: 5px;
}
.btn-white {
    text-decoration: none;
    color: cyan;
}

.text-area {
    text-align: center;
    padding: 20px;
}

.w-50 {
    width: 50%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-upper {
    text-transform: uppercase;
}

@media print {

    .header > *:not(main) {
        display: none;
    }
    div{
        padding: 15px;
    }
    .footer {
        color: black;
        margin-top: 30px;
    }
}